**/.idea
**/node_modules
**__pycache__**
*.iml
*.sock
.cache
.env
.git
.idea
.pytest_cache
.tox
.venv*
attic
build
dist
iceworm-js/*/dist
iceworm-jvm/*/target
iceworm-jvm/target
iceworm-rs/target
iceworm.egg-info
target
temp

!.git/HEAD
!.git/refs
