**/.DS_Store
**/.benchmarks/
**/.idea/
**/.revision
**/node_modules/
*.dylib
*.exe
*.iml
*.pstats
*.pstats.pdf
*.pstats.png
*.pyc
*.pyo
*.so
*.sock
*.swp
/.cache/
/.env
/.mypy_cache/
/.pytest_cache/
/.python-version
/.tox/
/.venv*/
/MANIFEST
/__pycache__/
/build/
/cython_debug/
/dist/
/gen/
/iceworm.egg-info/
/profiles/
/target/
/temp/
antlr-*.jar
