include README.md
include LICENSE
include LICENSE-*

global-include *.dss
global-include *.g4
global-include *.proto
global-include *.tokens
global-include .revision

global-exclude *.py[cod]
global-exclude *.so
global-exclude .DS_Store
global-exclude .gitignore
global-exclude __pycache__

global-exclude **/tests/**
exclude iceworm/conftest.py
