setuptools>=38.0.0

Cython==0.29.21

git+https://github.com/wrmsr/omnibus@wrmsr_working


## core deps

Jinja2==2.11.2
protobuf==3.14.0
PyYAML==5.3.1  #@conflict
SQLAlchemy==1.3.22


## connector deps

PyHive[hive]==0.6.3
boto3>=1.15.18
botocore>=1.19.41
pg8000==1.16.5
psycopg2==2.8.6
pymongo==3.11.2
snowflake-connector-python[secure-local-storage]==2.3.9
snowflake-sqlalchemy==1.2.4


## extra deps

jmespath==0.10.0
JPype1==1.1.2


## transitive deps

docutils==0.15.2
idna==2.9  # pinned for snowflake-connector
