setuptools>=38.0.0

Cython==0.29.21

git+https://github.com/wrmsr/omnibus@wrmsr_working


## core deps

Jinja2==2.11.2
protobuf==3.13.0
PyYAML==5.3.1
SQLAlchemy==1.3.20


## connector deps

PyHive[hive]==0.6.3
boto3==1.16.4
botocore==1.19.4
pg8000==1.16.5
psycopg2==2.8.6
pymongo==3.11.0
snowflake-connector-python[secure-local-storage]==2.3.3
snowflake-sqlalchemy==1.2.4


## extra deps

jmespath==0.10.0
JPype1==1.1.2


## transitive deps

docutils==0.15.2
idna==2.9  # pinned for snowflake-connector
