-r requirements.txt


## packaging deps

twine==3.2.0
wheel>=0.34.2


## actual code deps

docker==4.2.2
pytest-benchmark==3.2.3
pytest-randomly==3.4.1
pytest-xdist==1.33.0
pytest==5.4.3


## useful tools

flake8==3.8.3
gprof2dot==2019.11.30
ipdb==0.13.3
ipython==7.16.1
mypy==0.782
pipdeptree==1.0.0
pyflakes==2.2.0
sqlparse==0.3.1
typed-ast==1.4.1
