setuptools>=38.0.0

Cython==0.29.21

git+https://github.com/wrmsr/omnibus@wrmsr_working


## db deps

pg8000==1.16.5
psycopg2==2.8.5
PyHive[hive]==0.6.3
snowflake-connector-python==2.3.1
snowflake-sqlalchemy==1.2.3
SQLAlchemy==1.3.19


## future deps

boto3==1.14.52
botocore==1.17.52
Jinja2==2.11.2
jmespath==0.10.0
pymongo==3.11.0
pyspark==3.0.0
PyYAML==5.3.1


## transitive deps

docutils==0.15.2
idna==2.10
